<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<title>Airline Registration System</title>
</head>
<body>
<div th:replace="fragments/header.html :: myheader"></div>


	<br>

	<div class="container">

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>American Airlines page</h1>
					<img th:src="@{/images/americanairlines.jpg}" class="img-responsive center-block"
			width="600" height="400" alt="Logo" />
				<form th:action="@{/americanairlines}" th:object="${americanairlinesObj}" method="post">
			
					<table border="1" class="table table-striped table-responsive-md">
						<thead>
							<tr>
								<th>ID</th>
								<th>Code</th>
								<th>Name</th>
								<th>Details</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="americanAirlines : ${americanairlinesObj}">
								<td th:text="${americanAirlines.id}"></td>
								<td th:text="${americanAirlines.code}"></td>
								<td th:text="${americanAirlines.name}"></td>
								<td th:text="${americanAirlines.details}"></td>
							</tr>
						</tbody>
					</table>
                        
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="login-submit" id="login-submit"
									class="form-control btn btn-primary" value="Add American Airlines" />
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>


	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
		<div th:replace="fragments/footer.html :: myfooter"></div>
</body>
</html> 