<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error Form</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body th:with = "httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
	<div th:replace="fragments/header.html :: myheader"></div>

<div class="container">
		<img th:src="@{/images/404.jpg}" class="img-responsive center-block"
			width="900" height="800" alt="Logo" />

        <h1>Error occurred</h1>
        <p>
            An error has occurred. Please contact the administrator
        </p>
        
        <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
        <p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>
        <a href="/" th:href="@{/}">Back to Home Page</a>
</div>

<div th:replace="fragments/footer.html :: myfooter"></div>

</body>
</html>